body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

p {
  margin: 0px;
  padding: 0px;
  line-height: 14px;
}

pre {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}